@font-face {
    font-family: "小米兰亭Pro";
    src: url("小米兰亭Pro.ttf");
}

* {
    box-sizing: border-box;
    font-family: "小米兰亭Pro";
    font-weight: 300;
    user-select: none;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: block;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
}



.page {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    flex-direction: column;
    scroll-snap-align: start;
}

#page1 {
    position: relative;
    color: white;
}

#page1>nav {
    position: absolute;
    background-color: #33333333;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 20px;
    justify-content: end;
    align-items: center;
}

#page1>main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


#page1>main>h1 {
    font-size: 96px;
    margin: 0;
    font-weight: 100;
    letter-spacing: 5px;
    color: #FFFFFFD0;
}

#page1>main>p {
    margin: 0;
    font-size: 24px;
    font-weight: 200;
    color: #FFFFFFA0;
}


.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: fit-content;
    height: fit-content;
    padding: 15px 30px;
    font-weight: 200;
    transition: all 0.3s;
    cursor: pointer;

}

.btn:active {
    transform: scale(0.95);
    transition: all 0.1s;
}

.btn>.glossy_btn {
    width: 100%;
    height: 100%;
}

.btn>span {
    z-index: 1;
    pointer-events: none;
    font-weight: inherit;
    transition: all 0.5s;
}

.btn:hover>span {
    color: var(--clr);
    letter-spacing: 1px;
}

#getting_start_btn {
    margin-top: 30px;
    font-size: 20px;
    padding: 20px 40px;
}


#getting_start_btn:hover >span{
    color:#FFFFFF
}

.tool_bar_btn {
    margin: 0 10px;
}

#getting_start_btn>.glossy_btn {
    background-color: rgba(255, 255, 255, .30);
}

#getting_start_btn>.glossy_btn:hover {
    background-color: rgba(192, 192, 192, .30);
}

#getting_start_btn>.glossy_btn::after {
    background-color: #0002;
}

#getting_start_btn>.glossy_btn:hover::after {
    background-color: #0004;
}

#main_page_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#learn_more_hits{
    position: absolute;
    bottom: 50px;
    width: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .6;
}
#learn_more_hits>span{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 150;
}
#learn_more_hits>svg{
    margin-top: 3px;
}