.button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: rgba(var(--text-color-rgb), 5%);
  border-radius: 10px;
  transition: background 0.3s, transform 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(var(--text-color-rgb), 10%);
}
.button:active {
  background-color: rgba(var(--text-color-rgb), 15%);
  transform: scale(0.95);
  transition: all 0.1s;
}
.button.prominent {
  background-color: rgba(var(--prominent-color-rgb), 10%);
}
.button.prominent:hover {
  background-color: rgba(var(--prominent-color-rgb), 15%);
}
.button.prominent:active {
  background-color: rgba(var(--prominent-color-rgb), 20%);
}