color-scheme-selector-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgba(var(--text-color-rgb), 0.05);
  border-radius: 5px;
  transition: translate 0.3s, background 0.3s;
  cursor: pointer;
}
color-scheme-selector-button:hover {
  background-color: rgba(var(--text-color-rgb), 0.1);
}
color-scheme-selector-button:active {
  background-color: rgba(var(--text-color-rgb), 0.15);
  transition: all 0.1s;
}