* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: none; */
}

html,
body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    /* background-color: lightgray; */
}

body>main,
body>div {
    display: flex;

}

body>main{
    overflow: hidden;
}

#top-bar {
    width: 100%;
    height: fit-content;
    align-items: center;
    /* background-color: rgba(var(--bg-color-rgb), 0.8); */
    border-bottom: 1px solid var(--divider-color);
    overflow: visible;
    /* overflow-x: visible; */
    white-space: noswap;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 15px 30px;


}

#top-bar>* {
    flex-shrink: 0;
}

#top-bar-logo {
    height: 26px;
    width: auto;
    margin-right: 30px;
    fill: var(--text-color);
}

@media screen and (max-width: 800px) {
    #top-bar-logo{
        display: none;
    }
}

#top-bar>hr {
    margin: 0px 10px;
    height: 24px;
    border-style: none;
    border-left: 2px solid var(--divider-color);
}

#top-bar>.icon-button {
    width: 40px;
    height: 40px;
}



body>main {
    position: relative;
    width: 100%;
    height: 100%;
}



#workspace {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
    overflow: auto;
}

#workspace>.graphics-object{
    margin: 100px;
}




#left-bar {
    left: 0;
    border: unset;
    border-right: 1px solid  var(--divider-color);
    /* background-color: aqua; */
}

#left-bar[pinned=false] {
    transform: translateX(calc(-1* var(--width) + 10px));
}


#right-bar {
    right: 0;
    border: unset;
    border-left: 1px solid var(--divider-color);
}

#right-bar[pinned=false] {
    transform: translateX(calc(var(--width) - 10px));
}


.full-screen-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}


#toast-container {
    padding-top: 15vh;
    z-index: 999;
    pointer-events: none;
    flex-direction: column;
    align-items: center;

}

#toast-container>.message {
    width: fit-content;
    height: 36px;
    background-color: rgba(var(--card-color-rgb), .7);
    border-radius: 7px;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    box-shadow: 0px 5px 20px var(--shadow-color);
    /* visibility: hidden; */
    /* opacity: 0; */
    padding: 7px 15px;
    font-size: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(var(--card-color-rgb), .2);
    /* filter: blur(2px); */
    /* transform: scale(0.95); */
    /* transition: all 0.35s; */
    margin-top: 10px;
    /* animation: 0.3s cubic-bezier(.34,.8,.38,.99) 0s forwards alternate toast-in-out; */

}
