#popup-container {
    background-color: unset;
    z-index: 998;
    pointer-events: none;
    transition: all 0.5s;
    background-color: transparent;

    .popup-window-background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: all;
        /* filter: saturate(); */
        backdrop-filter: blur(15px) saturate(1.2) brightness(0.95);
        // transform: translateZ(0px);

        .popup-window {
            display: flex;
            flex-direction: column;
            width: auto;
            height: auto;
            background-color: rgba(var(--bg-color-rgb), .8);
            box-shadow: 0px 30px 70px var(--shadow-color);
            border: 1px solid rgba(var(--card-color-rgb), .5);
            border-radius: 15px;
            max-width: 90vw;
            max-height: 90vw;

            .top-bar {
                width: 100%;
                height: fit-content;
                /* background-color: aqua; */
                padding: 10px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid var(--divider-color);

                .title {
                    /* font-weight: normal; */
                    font-size: 20px;
                    width: 100%;
                    margin-left: 15px;
                }

                .icon-button {
                    width: 36px;
                    height: 36px;
                }
            }

            .content {
                width: 100%;
                height: 100%;
                /* background-color: blue; */
                overflow: scroll;
            }
        }

        .loading-window {
            display: flex;
            padding: 20px 30px;
            align-items: center;
            justify-content: center;
            background-color: rgba(var(--card-color-rgb), .7);
            box-shadow: 0px 30px 70px var(--shadow-color);
            border-radius: 10px;

            svg {
                @keyframes rotate {
                    0% {
                        transform: rotate(0);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

                width: 24px;
                height: 24px;
                fill: var(--text-color);
                animation: 1s linear 0s infinite forwards rotate;

            }

            span {
                font-size: 18px;
                margin-left: 10px;
            }
        }
    }
}